html {
  font-family: 'Oxygen', sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 100vh 1fr;
  text-align: center;
}

h1 {
  margin: 0.4em 0;
}

h2 {
  font-size: 1.7em;
  margin: 0.4em 0;
}

h3 {
  font-size: 1.4em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:active {
  outline: none;
}

button {
  padding: 0.6em 1.2em;
  color: rgb(6,6,6);
  background-color: white;
  border: none;
  border-radius: 10% / 20%;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-variant: small-caps;
  font-weight: 500;
  transition: all 0.1s linear;
}

button:hover {
  background-color: rgba(255,255,255,0.7);
}

button:active {
  outline: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  border: 0;
}

header {
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(0px, 30px) 1fr minmax(0px, 30px);
  place-items: center;
  background-image: url("./content/images/cute_bg.png");
  background-color: #d8e7ee;
  background-position: center;
  background-size: cover;
  text-align: center;

  div.header-content {
    grid-column: 2;

    h1, h2 {
      color: white;
      text-shadow: 0.5px 0.5px 2.5px rgba(8, 8, 8, 0.5);
      margin: 0.2em 0;
    }
    
    h1 {
      font-size: calc(2rem + 4vw);
    }
    
    h2 {
      font-size: calc(1.5rem + 3.5vw);
    }

    button.pozvanka-button {
      margin: 1em 0;
      font-size: calc(1rem + 1.5vw);
    }
  }
}

main {
  width: 100%;
  padding: 0;
  margin: 0;
  grid-row: 2;
  
  section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 1em;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr minmax(250px, 1600px) 1fr;
    font-size: 1.4rem;
    
    * {
      grid-column: 2;
    }

    h1 {
      font-size: 2.4rem;
      font-weight: 800;
    }

    p.subtitle {
      font-size: 1.4rem;
      margin-top: 0;
      margin-bottom: 1.4em;
    }

    h2 {
      font-size: 1.8rem;
    }

    ul.prerequisities {
      text-align: left;
      font-size: 1.2em;
      
      li {
        list-style: disc;
        margin: 0.5em 0;
      }
    }
  }

  section.program-section ul {
    padding-left: 0;
  }

  section.map-section {
    padding: 0;
    margin: 0;
    max-width: none;
    
    * {
      grid-column: 1 / 4;
    }
  }

  section.formular-section {
    grid-template-columns: 1fr minmax(250px, 600px) 1fr;

    form {
      display: grid;
      width: auto;
      grid-template-columns: 1fr;

      * {
        grid-column: 1;
      }

      label {
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      input {
        width: auto;
        padding: 0.75rem 0.5rem;
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.15);
        line-height: 1.2rem;
        font-size: 1.2rem;
      }

      textarea {
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.15);
        padding: 0.75rem 0.5rem;
        line-height: 1.2rem;
        font-size: 1.2rem;
        resize: vertical;
      }

      input.button-dark {
        width: max-content;
        margin: 1em auto;
        padding: 0.75em 1em;
        color: white;
        background-color: rgb(76,76,76);
        border: none;
        border-radius: 10% / 20%;
        box-sizing: border-box;
        font-size: 1.6rem;
        font-variant: small-caps;
        font-weight: 500;
        transition: all 0.1s linear;
      }

      input.button-dark:hover {
        background-color: rgba(100, 100, 100, 0.8);
      }

      input.button-dark:active {
        outline: none;
        text-decoration: none;
      }
    }
  }

  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    grid-gap: 1.2em;
    grid-auto-flow: dense;
    align-content: center;

    div {
      max-width: 100%;
      display: grid;
      grid-column: auto;
      justify-self: center;

      a, img {
        max-width: inherit;
      }
      
      a {
        display: block;
      }
    }
  }
}

.light-pink {
  color: #ffced7 !important;
}

.dark-pink {
  color: #ff8fa3 !important;
}

.light-blue {
  color: #b5eaff !important;
}

.light-green {
  color: #a9ff9c !important;
}