html {
  font-family: 'Oxygen', sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh 1fr;
      grid-template-rows: 100vh 1fr;
  text-align: center;
}

h1 {
  margin: 0.4em 0;
}

h2 {
  font-size: 1.7em;
  margin: 0.4em 0;
}

h3 {
  font-size: 1.4em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:active {
  outline: none;
}

button {
  padding: 0.6em 1.2em;
  color: #060606;
  background-color: white;
  border: none;
  border-radius: 10% / 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-variant: small-caps;
  font-weight: 500;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

button:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button::-moz-focus-inner {
  border: 0;
}

header {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0px, 30px) 1fr minmax(0px, 30px);
      grid-template-columns: minmax(0px, 30px) 1fr minmax(0px, 30px);
  place-items: center;
  background-image: url("./content/images/cute_bg.png");
  background-color: #d8e7ee;
  background-position: center;
  background-size: cover;
  text-align: center;
}

header div.header-content {
  -ms-grid-column: 2;
  grid-column: 2;
}

header div.header-content h1, header div.header-content h2 {
  color: white;
  text-shadow: 0.5px 0.5px 2.5px rgba(8, 8, 8, 0.5);
  margin: 0.2em 0;
}

header div.header-content h1 {
  font-size: calc(2rem + 4vw);
}

header div.header-content h2 {
  font-size: calc(1.5rem + 3.5vw);
}

header div.header-content button.pozvanka-button {
  margin: 1em 0;
  font-size: calc(1rem + 1.5vw);
}

main {
  width: 100%;
  padding: 0;
  margin: 0;
  -ms-grid-row: 2;
  grid-row: 2;
}

main section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: 1fr minmax(250px, 1600px) 1fr;
      grid-template-columns: 1fr minmax(250px, 1600px) 1fr;
  font-size: 1.4rem;
}

main section * {
  -ms-grid-column: 2;
  grid-column: 2;
}

main section h1 {
  font-size: 2.4rem;
  font-weight: 800;
}

main section p.subtitle {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1.4em;
}

main section h2 {
  font-size: 1.8rem;
}

main section ul.prerequisities {
  text-align: left;
  font-size: 1.2em;
}

main section ul.prerequisities li {
  list-style: disc;
  margin: 0.5em 0;
}

main section.program-section ul {
  padding-left: 0;
}

main section.map-section {
  padding: 0;
  margin: 0;
  max-width: none;
}

main section.map-section * {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

main section.formular-section {
  -ms-grid-columns: 1fr minmax(250px, 600px) 1fr;
      grid-template-columns: 1fr minmax(250px, 600px) 1fr;
}

main section.formular-section form {
  display: -ms-grid;
  display: grid;
  width: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main section.formular-section form * {
  -ms-grid-column: 1;
  grid-column: 1;
}

main section.formular-section form label {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

main section.formular-section form input {
  width: auto;
  padding: 0.75rem 0.5rem;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  line-height: 1.2rem;
  font-size: 1.2rem;
}

main section.formular-section form textarea {
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.75rem 0.5rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
  resize: vertical;
}

main section.formular-section form input.button-dark {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1em auto;
  padding: 0.75em 1em;
  color: white;
  background-color: #4c4c4c;
  border: none;
  border-radius: 10% / 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-variant: small-caps;
  font-weight: 500;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

main section.formular-section form input.button-dark:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

main section.formular-section form input.button-dark:active {
  outline: none;
  text-decoration: none;
}

main .gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(14em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  grid-gap: 1.2em;
  grid-auto-flow: dense;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .gallery div {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  grid-column: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .gallery div a, main .gallery div img {
  max-width: inherit;
}

main .gallery div a {
  display: block;
}

.light-pink {
  color: #ffced7 !important;
}

.dark-pink {
  color: #ff8fa3 !important;
}

.light-blue {
  color: #b5eaff !important;
}

.light-green {
  color: #a9ff9c !important;
}
/*# sourceMappingURL=style.css.map */